/* --------------------------------------------------------CSS COLORS--------------------------------------------------------- */


/* A */
.alizarin {color: rgb(227, 38, 54);}
.amaranth {color: rgb(229, 43, 80);}
.amber {color: rgb(255, 191, 0);}
.amethyst {color: rgb(153, 102, 204);}
.apricot {color: rgb(251, 206, 177);}
.aqua {color: aqua;}
.aquamarine {color: rgb(127, 255, 212);}
.asparagus {color: rgb(123, 160, 91);}
.auburn {color: rgb(109, 53, 26);}
.azure {color: rgb(0, 127, 255);}

/* B */
.beige {color:rgb(245, 245, 220);}
.bistre{color: rgb(61, 43, 31);}
.black{color:black}
.blue{color:blue}
.blue-green{color:#00DDDD}
.blue-violet{color:#8A2BE2}
.bondi-blue{color: #0095B6;}
.brass{color: #B5A642}
.bronze{color: #CD7F32}
.brown{color: #964B00}
.buff{color:#F0DC82}
.burgundy{color: #900020}
.burnt-orange{color:#CC5500}
.burnt-seinna{color:#E97451}
.burnt-umber{color:#8A3324}

/* C */

.camouflage-green{color:#78866B}
.caput-mortuum{color:#592720}
.cardinal{color:#C41E3A}
.carmine{color:#960018}
.carrot-orange{color:#ED9121} 
.celadon{color:#ACE1AF}
.cerise{color:#DE3163}
.cerulean{color:#007BA7}
.champagne{color:#F7E7CE}
.charcoal{color:#464646}
.chartreuse{color:#7FFF00}
.cherry-blossom-pink{color:#FFB7C5}	 
.chestnut{color:#CD5C5C}
.chocolate{color:#7B3F00}
.cinnabar{color:#E34234}
.cinnamon{color:#D2691E}
.cobalt{color:#0047AB}
.copper{color:#B87333}
.coral{color:#FF7F50}
.corn{color:#FBEC5D}
.cornflower{color:#6495ED}
.cream{color:#FFFDD0}
.crimsom{color:#DC143C}
.cyan{color:#00FFFF}

/* D */
.dandelion{color:#FED85D}
.denim{color:#1560BD}
.dark-blue{color:darkblue}
.dark-cyan{color:darkcyan}
/* Dark Series */
.dark-goldenrod{color:darkgoldenrod}
.dark-gray{color:darkgray}
.dark-green{color:darkgreen}
.dark-grey{color:darkgrey}
.dark-khaki{color:darkkhaki}
.dark-magenta{color:darkmagenta}
.dark-olive-green{color:darkolivegreen}
.dark-orange{color:darkorange}
.dark-orchid{color:darkorchid}
.dark-red{color:darkred}
.dark-salmon{color:darksalmon}
.dark-seagreen{color:darkseagreen}
.dark-slate-blue{color:darkslateblue}
.dark-slate-gray{color:darkslategray}
.dark-slate-grey{color:darkslategrey}
.dark-turquoise{color:darkturquoise}
.dark-violet{color:darkviolet}

