/* --------------------------------------------------------CSS COLORS--------------------------------------------------------- */


/* A */
.alizarin {color: rgb(227, 38, 54);}
.amaranth {color: rgb(229, 43, 80);}
.amber {color: rgb(255, 191, 0);}
.amethyst {color: rgb(153, 102, 204);}
.apricot {color: rgb(251, 206, 177);}
.aqua {color: aqua;}
.aquamarine {color: rgb(127, 255, 212);}
.asparagus {color: rgb(123, 160, 91);}
.auburn {color: rgb(109, 53, 26);}
.azure {color: rgb(0, 127, 255);}